In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

from selenium.common.exceptions import NoSuchElementException

from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import requests
from bs4 import BeautifulSoup

# Q1
Scrape the details of most viewed videos on YouTube from Wikipedia. Url =
https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [11]:
driver = webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [21]:
ranks = []
names = []
artists = []
dates = []
views = []

#ranks
for i in driver.find_elements(By.XPATH , '//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody/tr/td[1]'):
    ranks.append(i.text)
    
#names
for i in driver.find_elements(By.XPATH , '//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody/tr/td[2]'):
    names.append(i.text)
    
#artists
for i in driver.find_elements(By.XPATH , '//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody/tr/td[3]'):
    artists.append(i.text)
    
#views
for i in driver.find_elements(By.XPATH , '//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody/tr/td[4]'):
    views.append(i.text)

#dates
for i in driver.find_elements(By.XPATH , '//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody/tr/td[5]'):
    dates.append(i.text)
    
videos = pd.DataFrame()
videos['Rank'] = ranks
videos['Name'] = names
videos['Artists'] = artists
videos['Views'] = views
videos['Date'] = dates
videos.set_index('Rank')

,Name,Artists,Views,Date
Rank,,,,
1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.29,"June 17, 2016"
2.,"""Despacito""[9]",Luis Fonsi,8.25,"January 12, 2017"
3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.78,"October 8, 2016"
4.,"""Bath Song""[17]",Cocomelon - Nursery Rhymes,6.38,"May 2, 2018"
5.,"""Shape of You""[18]",Ed Sheeran,6.07,"January 30, 2017"
6.,"""See You Again""[21]",Wiz Khalifa,6.01,"April 6, 2015"
7.,"""Wheels on the Bus""[26]",Cocomelon - Nursery Rhymes,5.53,"May 24, 2018"
8.,"""Phonics Song with Two Words""[27]",ChuChu TV Nursery Rhymes & Kids Songs,5.47,"March 6, 2014"
9.,"""Uptown Funk""[28]",Mark Ronson,5.02,"November 19, 2014"
10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,4.96,"February 27, 2018"
11.,"""Gangnam Style""[30]",officialpsy,4.88,"July 15, 2012"
12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,4.56,"January 31, 2012"
13.,"""Dame Tu Cosita""[36]",Ultra Records,4.43,"April 5, 2018"
14.,"""Axel F""[37]",Crazy Frog,4.04,"June 16, 2009"
15.,"""Sugar""[38]",Maroon 5,3.93,"January 14, 2015"
16.,"""Counting Stars""[39]",OneRepublic,3.86,"May 31, 2013"
17.,"""Roar""[40]",Katy Perry,3.86,"September 5, 2013"
18.,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.76,"June 25, 2018"
19.,"""Waka Waka (This Time for Africa)""[42]",Shakira,3.71,"June 4, 2010"
20.,"""Sorry""[43]",Justin Bieber,3.70,"October 22, 2015"
21.,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.67,"June 14, 2018"
22.,"""Thinking Out Loud""[45]",Ed Sheeran,3.65,"October 7, 2014"
23.,"""Dark Horse""[46]",Katy Perry,3.58,"February 20, 2014"
24.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.54,"January 26, 2018"
25.,"""Perfect""[48]",Ed Sheeran,3.53,"November 9, 2017"
26.,"""Faded""[49]",Alan Walker,3.51,"December 3, 2015"
27.,"""Let Her Go""[50]",Passenger,3.50,"July 25, 2012"
28.,"""Girls Like You""[51]",Maroon 5,3.47,"May 31, 2018"
29.,"""Lean On""[52]",Major Lazer Official,3.45,"March 22, 2015"
30.,"""Bailando""[53]",Enrique Iglesias,3.45,"April 11, 2014"

# Q2
Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1 ODI)
B) Series
C) Place
D) Date
E) Time

In [3]:
driver = webdriver.Chrome()
driver.get('https://www.bcci.tv/')

In [4]:
#get the page of international fixture
driver.find_element(By.XPATH , '/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a').click()

In [13]:
title = []
teams = []
series = []
place = []
date = []
time = []

#teams
team1 = driver.find_elements(By.XPATH , '//div[@class="fixture-tab-inner row"]//div[@class="col-lg-4 col-md-6 col-sm-12 ng-scope"]//div[@class="match-tm-info teamLeft"]/div[2]')
team2 = driver.find_elements(By.XPATH , '//div[@class="fixture-tab-inner row"]//div[@class="col-lg-4 col-md-6 col-sm-12 ng-scope"]//div[@class="match-tm-info teamRight"]/div[2]')
for i in range(len(team1)):
    teams.append((team1[i].text,' vs ',team2[i].text))


#title
for i in driver.find_elements(By.XPATH , '//div[@class="fixture-tab-inner row"]//div[@class="col-lg-4 col-md-6 col-sm-12 ng-scope"]//div[@class="match-card-top"]/h5'):
    title.append(i.text)
    
#date
for i in driver.find_elements(By.XPATH , '//div[@class="fixture-tab-inner row"]//div[@class="col-lg-4 col-md-6 col-sm-12 ng-scope"]//div[@class="match-info"]/div[1]'):
    date.append(i.text)
    
#time
for i in driver.find_elements(By.XPATH , '//div[@class="fixture-tab-inner row"]//div[@class="col-lg-4 col-md-6 col-sm-12 ng-scope"]//div[@class="match-info"]/div[2]'):
    time.append(i.text)
    
#series
for i in driver.find_elements(By.XPATH , '//div[@class="fixture-tab-inner row"]//div[@class="col-lg-4 col-md-6 col-sm-12 ng-scope"]//div[@class="match-place ng-scope"]/span[1]'):
    series.append(i.text.strip(' -'))

#place
for i in driver.find_elements(By.XPATH , '//div[@class="fixture-tab-inner row"]//div[@class="col-lg-4 col-md-6 col-sm-12 ng-scope"]//div[@class="match-place ng-scope"]/span[2]'):
    place.append(i.text.strip(','))

fixture = pd.DataFrame()
fixture['Tilte'] = title
fixture['Teams'] = teams
fixture['Series'] = series
fixture['Place'] = place
fixture['Date'] = date
fixture['Time'] = time
fixture

,Tilte,Teams,Series,Place,Date,Time
0,ASIA CUP 2023,"(India, vs , Sri Lanka)",4th ODI,R Premadasa International Stadium,12 SEP 2023,12:30 PM EEST
1,ASIA CUP 2023,"(India, vs , Bangladesh)",5th ODI,R Premadasa International Stadium,15 SEP 2023,12:30 PM EEST
2,19TH ASIAN GAMES 2023,"(India Women, vs , TBD)",1st T20I,Pingfeng Cricket Field,21 SEP 2023,4:00 AM EEST
3,AUSTRALIA TOUR OF INDIA 2023-24,"(India, vs , Australia)",1st ODI,Punjab Cricket Association IS Bindra Stadium,22 SEP 2023,11:00 AM EEST
4,AUSTRALIA TOUR OF INDIA 2023-24,"(India, vs , Australia)",2nd ODI,Holkar Cricket Stadium,24 SEP 2023,11:00 AM EEST
5,AUSTRALIA TOUR OF INDIA 2023-24,"(India, vs , Australia)",3rd ODI,Saurashtra Cricket Association Stadium,27 SEP 2023,11:00 AM EEST
6,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"(India, vs , England)",1st ODI,Barsapara Cricket Stadium,30 SEP 2023,11:30 AM EEST
7,19TH ASIAN GAMES 2023,"(India, vs , TBD)",1st T20I,Pingfeng Cricket Field,3 OCT 2023,4:00 AM EEST
8,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"(India, vs , Netherlands)",2nd ODI,Greenfield International Stadium,3 OCT 2023,11:30 AM EEST
9,ICC MENS WORLD CUP 2023,"(India, vs , Australia)",1st ODI,MA Chidambaram Stadium,8 OCT 2023,11:30 AM EEST
10,ICC MENS WORLD CUP 2023,"(India, vs , Afghanistan)",2nd ODI,Arun Jaitley Stadium,11 OCT 2023,11:30 AM EEST
11,ICC MENS WORLD CUP 2023,"(India, vs , Pakistan)",3rd ODI,Narendra Modi Stadium,14 OCT 2023,11:30 AM EEST
12,ICC MENS WORLD CUP 2023,"(India, vs , Bangladesh)",4th ODI,Maharashtra Cricket Association Stadium,19 OCT 2023,11:30 AM EEST
13,ICC MENS WORLD CUP 2023,"(India, vs , New Zealand)",5th ODI,Himachal Pradesh Cricket Association Stadium,22 OCT 2023,11:30 AM EEST
14,ICC MENS WORLD CUP 2023,"(India, vs , England)",6th ODI,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,29 OCT 2023,10:30 AM EEST
15,ICC MENS WORLD CUP 2023,"(India, vs , Sri Lanka)",7th ODI,Wankhede Stadium,2 NOV 2023,10:30 AM EEST
16,ICC MENS WORLD CUP 2023,"(India, vs , South Africa)",8th ODI,Eden Gardens,5 NOV 2023,10:30 AM EEST
17,ICC MENS WORLD CUP 2023,"(India, vs , Netherlands)",9th ODI,M Chinnaswamy Stadium,12 NOV 2023,10:30 AM EEST
18,AUSTRALIA TOUR OF INDIA 2023-24,"(India, vs , Australia)",1st T20I,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,23 NOV 2023,3:30 PM EEST
19,AUSTRALIA TOUR OF INDIA 2023-24,"(India, vs , Australia)",2nd T20I,Greenfield International Stadium,26 NOV 2023,3:30 PM EEST
20,AUSTRALIA TOUR OF INDIA 2023-24,"(India, vs , Australia)",3rd T20I,Barsapara Cricket Stadium,28 NOV 2023,3:30 PM EEST
21,AUSTRALIA TOUR OF INDIA 2023-24,"(India, vs , Australia)",4th T20I,Vidarbha Cricket Association Stadium,1 DEC 2023,3:30 PM EEST
22,AUSTRALIA TOUR OF INDIA 2023-24,"(India, vs , Australia)",5th T20I,Rajiv Gandhi International Stadium,3 DEC 2023,3:30 PM EEST
23,INDIA TOUR OF SOUTH AFRICA 2023-24,"(South Africa, vs , India)",1st T20I,Kingsmead,10 DEC 2023,6:00 PM EEST
24,INDIA TOUR OF SOUTH AFRICA 2023-24,"(South Africa, vs , India)",2nd T20I,St George's Park,12 DEC 2023,6:00 PM EEST
25,INDIA TOUR OF SOUTH AFRICA 2023-24,"(South Africa, vs , India)",3rd T20I,The Wanderers Stadium,14 DEC 2023,6:00 PM EEST
26,INDIA TOUR OF SOUTH AFRICA 2023-24,"(South Africa, vs , India)",1st ODI,Johannesburg,17 DEC 2023,10:30 AM EEST
27,INDIA TOUR OF SOUTH AFRICA 2023-24,"(South Africa, vs , India)",2nd ODI,St George's Park,19 DEC 2023,10:30 AM EEST
28,INDIA TOUR OF SOUTH AFRICA 2023-24,"(South Africa, vs , India)",3rd ODI,Boland Park,21 DEC 2023,10:30 AM EEST
29,INDIA TOUR OF SOUTH AFRICA 2023-24,"(South Africa, vs , India)",1st Test,SuperSport Park,26 DEC 2023,10:00 AM EEST
30,INDIA TOUR OF SOUTH AFRICA 2023-24,"(South Africa, vs , India)",2nd Test,Newlands,3 JAN 2024,10:00 AM EEST
31,AFGHANISTAN TOUR OF INDIA 2023-24,"(India, vs , Afghanistan)",1st T20I,Punjab Cricket Association IS Bindra Stadium,11 JAN 2024,3:30 PM EEST
32,AFGHANISTAN TOUR OF INDIA 2023-24,"(India, vs , Afghanistan)",2nd T20I,Holkar Cricket Stadium,14 JAN 2024,3:30 PM EEST
33,AFGHANISTAN TOUR OF INDIA 2023-24,"(India, vs , Afghanistan)",3rd T20I,M Chinnaswamy Stadium,17 JAN 2024,3:30 PM EEST
34,ENGLAND TOUR OF INDIA 2023-24,"(India, vs , England)",1st Test,Rajiv Gandhi International Stadium,25 JAN 2024,6:00 AM EEST
35,ENGLAND TOUR OF INDIA 2023-24,"(India, vs , England)",2nd Test,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,2 FEB 2024,6:00 AM EEST
36,ENGLAND TOUR OF INDIA 2023-24,"(India, vs , England)",3rd Test,Saurashtra Cricket Association Stadium,15 FEB 2024,6:00 AM EEST
37,ENGLAND TOUR OF INDIA 2023-24,"(India, vs , England)",4th Test,JSCA International Stadium Complex,23 FEB 2024,6:00 AM EEST
38,ENGLAND TOUR OF INDIA 2023-24,"(India, vs , England)",5th Test,Himachal Pradesh Cricket Association Stadium,7 MAR 2024,6:00 AM EEST

# Q3
Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A)
Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [25]:
#open the site
driver = webdriver.Chrome()
driver.get('https://www.statisticstimes.com/')

In [27]:
#click on economy button
driver.find_element(By.XPATH , '/html/body/div[2]/div[1]/div[2]/div[2]/button').click()

#choose india
driver.find_element(By.XPATH , '/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [28]:
#choose GPD of india state
driver.find_element(By.XPATH , '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [43]:
rank = []
state = []
GSDP_18_19 = []
GSDP_19_20 = []
share_18_19 = []
GPD = []

#rank
for i in driver.find_elements(By.XPATH , '//table[@id="table_id"][1]/tbody/tr[@role="row"]/td[1]'):
    rank.append(i.text)
    
#state
for i in driver.find_elements(By.XPATH , '//table[@id="table_id"][1]/tbody/tr[@role="row"]/td[2]'):
    state.append(i.text)
    
#GSDP_(18-19)
for i in driver.find_elements(By.XPATH , '//table[@id="table_id"][1]/tbody/tr[@role="row"]/td[4]'):
    GSDP_18_19.append(i.text)
    
#GSDP_(19-20)
for i in driver.find_elements(By.XPATH , '//table[@id="table_id"][1]/tbody/tr[@role="row"]/td[3]'):
    GSDP_19_20.append(i.text)
    
#share_(18-19)
for i in driver.find_elements(By.XPATH , '//table[@id="table_id"][1]/tbody/tr[@role="row"]/td[5]'):
    share_18_19.append(i.text)
    
#GPD billion
for i in driver.find_elements(By.XPATH , '//table[@id="table_id"][1]/tbody/tr[@role="row"]/td[6]'):
    GPD.append(i.text)
    
india = pd.DataFrame()
india['Rank'] = rank
india['State'] = state
india['GSDP_(18-19)'] = GSDP_18_19
india['GSDP_(19-20)'] = GSDP_19_20
india['share_(18-19)'] = share_18_19
india['GPD $Billion'] = GPD
india.set_index('Rank')

,State,GSDP_(18-19),GSDP_(19-20),share_(18-19),GPD $Billion
Rank,,,,,
1,Maharashtra,"2,632,792",-,13.94%,399.921
2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
4,Gujarat,"1,502,899",-,7.96%,228.290
5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
7,Rajasthan,"942,586","1,020,989",4.99%,143.179
8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
9,Telangana,"861,031","969,604",4.56%,130.791
10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
11,Kerala,"781,653",-,4.14%,118.733
12,Delhi,"774,870","856,112",4.10%,117.703
13,Haryana,"734,163","831,610",3.89%,111.519
14,Bihar,"530,363","611,804",2.81%,80.562
15,Punjab,"526,376","574,760",2.79%,79.957
16,Odisha,"487,805","521,275",2.58%,74.098
17,Assam,"315,881",-,1.67%,47.982
18,Chhattisgarh,"304,063","329,180",1.61%,46.187
19,Jharkhand,"297,204","328,598",1.57%,45.145
20,Uttarakhand,"245,895",-,1.30%,37.351
21,Jammu & Kashmir,"155,956",-,0.83%,23.690
22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
23,Goa,"73,170","80,449",0.39%,11.115
24,Tripura,"49,845","55,984",0.26%,7.571
25,Chandigarh,"42,114",-,0.22%,6.397
26,Puducherry,"34,433","38,253",0.18%,5.230
27,Meghalaya,"33,481","36,572",0.18%,5.086
28,Sikkim,"28,723","32,496",0.15%,4.363
29,Manipur,"27,870","31,790",0.15%,4.233
30,Nagaland,"27,283",-,0.14%,4.144
31,Arunachal Pradesh,"24,603",-,0.13%,3.737
32,Mizoram,"22,287","26,503",0.12%,3.385
33,Andaman & Nicobar Islands,-,-,-,-

# Q4
Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [2]:
driver = webdriver.Chrome()
driver.get('https://github.com/')

In [3]:
#click on open source
driver.find_element(By.XPATH , '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()

#now choose trending repositories
driver.find_element(By.XPATH , '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a').click()

In [4]:
title = []
contributors = []

#title
for i in driver.find_elements(By.XPATH , '//span[@class="text-normal"]'):
    title.append(i.text.strip(' /'))

#conributors
for i in driver.find_elements(By.XPATH , '//div[@class="f6 color-fg-muted mt-2"]/a[2]'):
    contributors.append(i.text)

In [5]:
#get links
url = []
for i in driver.find_elements(By.XPATH , '//article[@class="Box-row"]/h2[@class="h3 lh-condensed"]/a'):
    url.append(i.get_attribute('href'))
len(url)

23

In [6]:
len(title)

23

In [7]:
description = []
for i in url :
    driver.get(i)
    time.sleep(2)
    
    try:
        desc = driver.find_element(By.XPATH , '//div[@class="BorderGrid-row hide-sm hide-md"]/div[@class="BorderGrid-cell"]/p')
        description.append(desc.text)
    
    except NoSuchElementException:
        description.append('-')

In [8]:
len(description)

23

In [9]:
language = []
for i in url :
    driver.get(i)
    time.sleep(2)
    
    try:
        lang = driver.find_element(By.XPATH , '//ul[@class="list-style-none"]/li[@class="d-inline"]//span')
        language.append(lang.text)

    except NoSuchElementException:
        language.append('-')

In [10]:
len(language)

23

In [11]:
github = pd.DataFrame()
github['Repository title'] = title
github['Describtion'] = description
github['Contributors count'] = contributors
github['Language Used'] = language
github

,Repository title,Describtion,Contributors count,Language Used
0,oven-sh,"Incredibly fast JavaScript runtime, bundler, t...","1,521",Zig
1,krahets,"《Hello 算法》：动画图解、一键运行的数据结构与算法教程，支持 Java, C++, P...","2,520",Java
2,Z4nzu,ALL IN ONE Hacking Tool For Hackers,"4,175",Python
3,microsoft,Build high-quality LLM apps - from prototyping...,105,Python
4,modularml,The Mojo Programming Language,"1,160",-
5,Ironclad,The open-source visual AI programming environm...,47,TypeScript
6,microsoft,"24 Lessons, 12 Weeks, Get Started as a Web Dev...","11,804",JavaScript
7,scottbez1,Haptic input knob with software-defined endsto...,870,C++
8,cloudcommunity,A curated list of free courses & certifications.,705,-
9,home-assistant,🏡 Open source home automation that puts local ...,"24,629",Python
10,3b1b,Animation engine for explanatory math videos,"5,443",Python
11,FIRST-Tech-Challenge,-,"2,638",Java
12,hrydgard,"A PSP emulator for Android, Windows, Mac and L...","2,053",C++
13,kousiknath,Various Low Level Object Oriented System Desig...,32,Java
14,xiaorouji,A commonly used proxy toolchain for Openwrt Lu...,"2,220",HTML
15,ECTO-1A,Apple BLE proximity pairing message spoofing,60,Python
16,PCrnjak,-,22,HTML
17,dair-ai,Explanation to key concepts in ML,433,-
18,bradtraversy,Challenges & docs from JS Algorithms & Data St...,75,JavaScript
19,actualbudget,A local-first personal finance app,664,TypeScript
20,srbhr,Open Source Free ATS Tool to compare Resumes w...,449,Python
21,tiann,A Kernel based root solution for Android,"1,096",Kotlin
22,PaperMC,"The most widely used, high performance Minecra...","1,982",Java

# Q5
Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [111]:
driver = webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [114]:
#click n tp 200 songs in billboard
driver.find_element(By.XPATH , '/html/body/div[3]/main/div[2]/div[1]/div[1]/div[1]/div[2]/div/div[2]/a[1]').click()

In [115]:
#number of songs
len(driver.find_elements(By.XPATH , '//div[@class="o-chart-results-list-row-container"]'))

200

In [143]:
rank = []
song = []
artist = []
last_week_rank = []
peak_rank = []
weeks_on_board = []


#rank
for i in driver.find_elements(By.XPATH , '//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]'):
    rank.append(i.text)
    
#song
for i in driver.find_elements(By.XPATH , '//li//h3[@id="title-of-a-story"]'):
    song.append(i.text.strip())

#artist
for i in driver.find_elements(By.XPATH , '//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/span'):
    artist.append(i.text.strip())
    
#last_week_rank
for i in driver.find_elements(By.XPATH , '//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]/span'):
    last_week_rank.append(i.text)
    
#peak_rank
for i in driver.find_elements(By.XPATH , '//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]/span'):
    peak_rank.append(i.text)
    
#weeks_on_board
for i in driver.find_elements(By.XPATH , '//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]/span'):
    weeks_on_board.append(i.text)

billboard = pd.DataFrame()
billboard['Song'] = song
billboard['Artist'] = artist
billboard['Last Week Rank'] = last_week_rank
billboard['Week On Board'] = weeks_on_board
billboard['Peak Rank'] = peak_rank

billboard['Rank']= rank
billboard.set_index('Rank').head(100)

,Song,Artist,Last Week Rank,Week On Board,Peak Rank
Rank,,,,,
1,Zach Bryan,Zach Bryan,-,1,1
2,Utopia,Travis Scott,1,5,1
3,One Thing At A Time,Morgan Wallen,2,26,1
4,Midnights,Taylor Swift,5,45,1
5,SOS,SZA,11,38,1
...,...,...,...,...,...
96,Future Nostalgia,Dua Lipa,93,178,3
97,Starting Over,Chris Stapleton,99,146,3
98,Greatest Hits,2Pac,102,490,3
99,Journey's Greatest Hits,Journey,94,777,10
100,Planet Her,Doja Cat,111,114,2

# Q6 
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [145]:
driver = webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [153]:
title = []
author = []
sold = []
publisher = []
genre = []

#title
for i in driver.find_elements(By.XPATH , '//tbody/tr/td[2]'):
    title.append(i.text)

#author
for i in driver.find_elements(By.XPATH , '//tbody/tr/td[3]'):
    author.append(i.text)
    
#sold
for i in driver.find_elements(By.XPATH , '//tbody/tr/td[4]'):
    sold.append(i.text)

#publisher
for i in driver.find_elements(By.XPATH , '//tbody/tr/td[5]'):
    publisher.append(i.text)

#genre
for i in driver.find_elements(By.XPATH , '//tbody/tr/td[6]'):
    genre.append(i.text)

import numpy as np
books = pd.DataFrame(index = np.arange(1, len(title)+1))
books['Book Name'] = title
books['Author'] = author
books['Volumn Sold'] = sold
books['Publisher'] = publisher
books['Genre'] = genre
books

,Book Name,Author,Volumn Sold,Publisher,Genre
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q7
Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You
have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [154]:
url = 'https://www.imdb.com/list/ls095964455/'
page = requests.get(url)
source = page.content
soup = BeautifulSoup(source , 'lxml')
show = soup.find('div' , {'class' : 'lister-list'}).find_all('div' , {'class' : 'lister-item mode-detail'})
len(show)

100

In [195]:
names = []
years = []
genres = []
runs = []
rates = []
votes = []
for i in range(len(show)):
    #find name
    name = show[i].find('h3' , {'class':'lister-item-header'}).find('a')
    names.append(name.text)
    
    #find year
    year = show[i].find('h3' , {'class':'lister-item-header'}).find('span',{'class':'lister-item-year text-muted unbold'})
    years.append(year.text.strip('()'))
    
    #run time
    time = show[i].find('p',{'class': 'text-muted text-small'}).find('span' , {'class' : 'runtime'})
    runs.append(time.text)
    
    #find genre
    genre = show[i].find('p',{'class': 'text-muted text-small'}).find('span' , {'class' : 'genre'})
    genres.append(genre.text.replace('\n' ,'').split('            ')[0])
    
    #find rates
    rate = show[i].find('div', {'class':'ipl-rating-widget'}).find('span',{'class':'ipl-rating-star__rating'})
    rates.append(rate.text)
    
    #find votes
    vote = show[i].find_all('p',{'class': 'text-muted text-small'})[2].find('span',{'name':'nv'})
    votes.append(vote.get('data-value'))
    
shows = pd.DataFrame(index = np.arange(1 , len(names)+1))
shows['Name'] = names
shows['Year Span'] = years
shows['Genre'] = genres
shows['Run Time'] = runs
shows['Rate'] = rates
shows['Votes'] = votes
shows

,Name,Year Span,Genre,Run Time,Rate,Votes
1,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,2202152
2,Stranger Things,2016–2025,"Drama, Fantasy, Horror",51 min,8.7,1274205
3,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.1,1044955
4,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,307107
5,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,266212
...,...,...,...,...,...,...
96,Reign,2013–2017,Drama,42 min,7.5,52670
97,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,64733
98,Criminal Minds,2005–,"Crime, Drama, Mystery",42 min,8.1,210868
99,Scream,2015–2019,"Comedy, Crime, Drama",45 min,7,43863
100,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,265495

# Q8
Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [260]:
driver = webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [261]:
#view datasets
driver.find_element(By.XPATH , '/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]').click()

In [263]:
url = []
for page in range(0,25):
    
    for i in driver.find_elements(By.XPATH , '//div[@class="h-12 w-12 rounded"]/a'):
        
        url.append(i.get_attribute('href'))
    
    driver.find_element(By.XPATH , '/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]').click()

In [264]:
len(url)

625

In [267]:
name = []
characteristics = []
tasks = []
attri_type = []
instances = []
attribute = []
year = []

for i in url :
    driver.get(i)
    
    
    try:
        name.append(driver.find_element(By.XPATH , '/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/div/h1').text)
        
        characteristics.append(driver.find_element(By.XPATH , '/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[1]/p').text)
        
        tasks.append(driver.find_element(By.XPATH , '/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p').text)
        
        attri_type.append(driver.find_element(By.XPATH , '/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p').text)
        
        instances.append(driver.find_element(By.XPATH , '/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p').text)
        
        attribute.append(driver.find_element(By.XPATH , '/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p').text)
        
        year.append(driver.find_element(By.XPATH , '/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2').text)
        
    except NoSuchElementException:
        name.append('-')
        characteristics.append('-')
        attri_type.append('-')
        tasks.append('-')
        instances.append('-')
        attribute.append('-')
        year.append('-')

In [280]:
dataset = pd.DataFrame()
dataset['Name'] = name[:625]
dataset['Data Type'] = characteristics[:625]
dataset['Task'] = tasks[:625]
dataset['Attribute Type'] = attri_type[:625]
dataset['No of Instances'] = instances[:625]
dataset['No of Attribute'] = attribute[:625]
dataset['Year'] = year[:625]
dataset

,Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Iris,Tabular,Classification,Real,150,4,Donated on 6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,Donated on 9/13/2020
4,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,-
...,...,...,...,...,...,...,...
620,Student Performance,Multivariate,"Classification, Regression",Integer,649,33,Donated on 12/31/1986
621,Iris,Tabular,Classification,Real,150,4,Donated on 6/30/1999
622,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 12/12/2021
623,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,-
624,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,Donated on 11/26/2014

In [281]:
dataset.to_csv('E:\\Datatrained\\internship\\Datasets from UCI machine learning repositories.csv')